# default image tag, example: "2.5.13".  "default" will download the latest. (-i)
IMAGETAG="default"

# default ca image tag, example: "1.5.15". "default" will download the latest. (-cai)
CA_IMAGETAG="default"

# Using crpto vs CA. default is cryptogen
# PROJEKAT ZAHTEVA: Obavezno koristiti Certificate Authorities!
CRYPTO="Certificate Authorities"

# max number of retries before giving up (-r)
MAX_RETRY=5

# default for delay between commands (-d)
CLI_DELAY=3

# channel name defaults to "channel1" for first channel (-c)
# To create second channel use: ./network.sh createChannel -c channel2
CHANNEL_NAME="channel1"

# default database - MORA biti couchdb za projekat! (-s)
DATABASE="couchdb"

# default org (-org)
ORG=1

# chaincode language defaults to "go" za trading chaincode (-ccl)
CC_SRC_LANGUAGE="go"

# Chaincode version (-ccv)
CC_VERSION="1.0"

# chaincode name - "trading" za nas projekat (-ccn)
CC_NAME="trading"

# default to running the docker commands for the CCAAS (-ccaasdocker)
CCAAS_DOCKER_RUN=true

# chaincode path - putanja do trading chaincode-a (-ccp)
CC_SRC_PATH="../chaincode"

# endorsement policy - za 3 organizacije, treba vecina (2 od 3) (-ccep)
# OR('Org1MSP.peer','Org2MSP.peer','Org3MSP.peer') - bilo koji peer može da endorsuje
# AND('Org1MSP.peer','Org2MSP.peer') - oba moraju
# OutOf(2, 'Org1MSP.peer','Org2MSP.peer','Org3MSP.peer') - najmanje 2 od 3
CC_END_POLICY="OutOf(2, 'Org1MSP.peer','Org2MSP.peer','Org3MSP.peer')"

# collection configuration defaults to "NA" (-cccg)
CC_COLL_CONFIG="NA"

# chaincode init function - poziva InitLedger funkciju (-cci)
CC_INIT_FCN='{"Args":["InitLedger"]}'

# Chaincode definition sequence, this should be an integer or auto (-ccs)
CC_SEQUENCE=auto

# Default constructor for testing a chaincode invoke (-ccic)
# Primer: CreateUser ili Purchase
CC_INVOKE_CONSTRUCTOR='{"Args":["InitLedger"]}'

# Default constructor for testing a chaincode query (-cciq)
# Primer: QueryProduct, GetUser
CC_QUERY_CONSTRUCTOR='{"Args":["QueryProductsByType","supermarket"]}'

# BFT consensus disabled (koristimo RAFT)
BFT=0